.maskP1{
    position: absolute;
    width: 51vw;
    height: 28.95vh;
    background: url(assets/images/image2.webp);
    background-size: cover;    
}

.project-a-tag{
    
    display: inline-flex;
}

.maskP2{
    position: absolute;
    width: 51vw;
    height: 28.95vh;
    background: url(assets/images/james-hardman-09sXF-mS8fc-unsplash.jpg);
    background-size: cover;    
}

.maskP3{
    position: absolute;
    width: 51vw;
    height: 28.95vh;
    background: url(assets/images/jr-korpa-9XngoIpxcEo-unsplash.jpg);
    background-size: cover;    
}

.maskP4{
    position: absolute;
    width: 51vw;
    height: 28.95vh;
    background: url(assets/images/pawel-czerwinski-6lQDFGOB1iw-unsplash.jpg);
    background-size: cover;    
}