@font-face {
    font-family: Favorit-Mono;
    src: url(assets/fonts/Favorit-Mono.woff2);
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

@font-face {
    font-family: Neue Haas;
    src: url(assets/fonts/NHaasGroteskTXPro-55Rg.woff2);
}

@font-face {
    font-family: Monorama;
    src: url(assets/fonts/Monorama-Regular.woff2);
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3.9464882943144%;
    padding-left: 3.9464882943144%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.logo{
    stroke:var(--coloraccent);
    stroke-width:0.25mm;
    fill:var(--coloraccent);
}

.logo-name-svg{
    stroke:var(--coloraccent);
    stroke-width:0.20mm;
    fill:var(--coloraccent);
}

.nav-buttons{
    display: flex;
    align-items: center;
    gap: 2em;
}

.button{
    position: relative;
    background: none;
    outline: none;
    border: 1px solid var(--secondary);
    border-radius: 0.30em;
    font-size: calc(11.43396px + .15094vw);
    color: var(--secondary);
    font-family: Favorit-Mono;
    padding: 0.2em 0.8em;
    padding-block: 1px;
    padding-inline: 6px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s;
    z-index: 100;
}

.button:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--secondary);
    z-index: -1;
    transition: all 0.3s;
}

.button:hover{
    color: var(--primary);
}

.button:hover::after{
    width: 100%;
}