@font-face {
    font-family: Favorit-Mono;
    src: url(assets/fonts/Favorit-Mono.woff2);
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

@font-face {
    font-family: Neue Haas;
    src: url(assets/fonts/NHaasGroteskTXPro-55Rg.woff2);
}

@font-face {
    font-family: Monorama;
    src: url(assets/fonts/Monorama-Regular.woff2);
}

@media screen and (min-width: 1373px) {
.nav{
    position: fixed;
    width: 100%;
    top: 6.44504021vh;
    padding-right: 3.9464882943144%;
    padding-left: 3.9464882943144%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.btn3{
    display: none;
}

.logo-container{
    position: fixed;
}

.logo{
    stroke:var(--coloraccent);
    stroke-width:0.25mm;
    fill:var(--coloraccent);
}

.logo-name-svg{
    stroke:var(--coloraccent);
    stroke-width:0.20mm;
    fill:var(--coloraccent);
}



.button{
    position: fixed;
    right: 11.6001338vw;
    background: none;
    outline: none;
    border: 1px solid var(--secondary);
    border-radius: 0.30em;
    font-size: calc(11.43396px + .15094vw);
    color: var(--secondary);
    font-family: Favorit-Mono;
    padding-inline: 6px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s;
    z-index: 100;
    display: flex;
    align-items: center;
}

.button:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--secondary);
    z-index: -1;
    transition: all 0.3s;
}

.button:hover{
    color: var(--primary);
}

.button:hover::after{
    width: 100%;
}

.button1{
    position: fixed;
    right: 5.68561873vw;
    background: none;
    outline: none;
    border: 1px solid var(--secondary);
    border-radius: 0.30em;
    font-size: calc(11.43396px + .15094vw);
    color: var(--secondary);
    font-family: Favorit-Mono;
    padding: 0em 0.8em;
    padding-inline: 6px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s;
    z-index: 100;
    display: flex;
    align-items: center;
}

.button1:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--secondary);
    z-index: -1;
    transition: all 0.3s;
}

.button1:hover{
    color: var(--primary);
}

.button1:hover::after{
    width: 100%;
}

.icon-ul{
    height: 0.25rem;
    width: 0.25rem;
    margin-left: 3.5px;
    margin-right: 9.5px;
    display: inline-block;
    background-color: var(--secondary);
}

.button1:hover > .icon-ul{
    background-color: var(--primary);
 }

 #info-text, #project-text{
    margin-right: 6px;
 }

 .button:hover > .icon-ul{
    background-color: var(--primary);
 }

 .button2{
    position: fixed;
    right: 2.87959866vw;
    background: none;
    outline: none;
    border: 1px solid var(--secondary);
    border-radius: 0.30em;
    font-size: calc(11.43396px + .15094vw);
    color: var(--secondary);
    font-family: Favorit-Mono;
    padding: 0em 0.8em;
    padding-inline: 6px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s;
    z-index: 100;
    display: flex;
    align-items: center;
}

.button2:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--secondary);
    z-index: -1;
    transition: all 0.3s;
}

.button2:hover{
    color: var(--primary);
}

.button2:hover::after{
    width: 100%;
}
}

@media screen and (max-width: 1373px) {
    .nav{
        position: fixed;
        width: 100%;
        top: 1.13722517vh;
        padding-right: 2.54117647vw;
        padding-left: 2.54117647vw;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    
    }
    
    .logo-container{
        position: fixed;
    }
    
    .logo{
        stroke:var(--coloraccent);
        stroke-width:0.25mm;
        fill:var(--coloraccent);
    }
    
    .logo-name-svg{
        stroke:var(--coloraccent);
        stroke-width:0.20mm;
        fill:var(--coloraccent);
    }

    .btn1,.btn2{
        display: none;
    }
    
     .button2{
        position: fixed;
        right: 9.80392157vw;
        background: none;
        outline: none;
        border: 1px solid var(--secondary);
        border-radius: 0.30em;
        font-size: calc(11.43396px + .15094vw);
        color: var(--secondary);
        font-family: Favorit-Mono;
        padding: 0em 0.8em;
        padding-inline: 6px;
        cursor: pointer;
        overflow: hidden;
        transition: all 0.3s;
        z-index: 100;
        display: flex;
        align-items: center;
    }
    
    .button2:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background: var(--secondary);
        z-index: -1;
        transition: all 0.3s;
    }
    
    .button2:hover{
        color: var(--primary);
    }
    
    .button2:hover::after{
        width: 100%;
    }

    .button3{
        position: fixed;
        right: 2.87959866vw;
        background: none;
        outline: none;
        border: 1px solid var(--secondary);
        border-radius: 0.30em;
        font-size: calc(11.43396px + .15094vw);
        color: var(--secondary);
        font-family: Favorit-Mono;
        padding: 0em 0.8em;
        padding-inline: 6px;
        cursor: pointer;
        overflow: hidden;
        transition: all 0.3s;
        z-index: 100;
        display: flex;
        align-items: center;
    }
    
    .button3:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background: var(--secondary);
        z-index: -1;
        transition: all 0.3s;
    }
    
    .button3:hover{
        color: var(--primary);
    }
    
    .button3:hover::after{
        width: 100%;
    }

    #menu-text{
        margin-left: 0px;
        margin-right: 0px;
    }
}