@media screen and (min-width: 1373px) {
.hero-img{
    position: fixed;
    right: 3.9464882943144%;
    top: 37.68538874%;
    width: 51vw;
    height: 28.95vh;
    display: flex;
}

.mask{
    position: absolute;
    width: 51vw;
    height: 28.95vh;
    background: url(assets/images/image.avif);
    background-size: cover;
}

.mask:nth-child(1){
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.mask:nth-child(2) {
    clip-path: polygon(5% 0, 5% 0, 5% 100%, 5% 100%);
}

.mask:nth-child(3) {
    clip-path: polygon(10% 0%, 10% 0%, 10% 100%, 10% 100%);
}

.mask:nth-child(4) {
    clip-path: polygon(15% 0%, 15% 0%, 15% 100%, 15% 100%);
}
    
.mask:nth-child(5) {
    clip-path: polygon(20% 0%, 20% 0%, 20% 100%, 20% 100%);
}

.mask:nth-child(6) {
    clip-path: polygon(25% 0%, 25% 0%, 25% 100%, 25% 100%);
}
    
.mask:nth-child(7) {
    clip-path: polygon(30% 0%, 30% 0%, 30% 100%, 30% 100%);
}

.mask:nth-child(8) {
    clip-path: polygon(35% 0%, 35% 0%, 35% 100%, 35% 100%);
}

.mask:nth-child(9) {
    clip-path: polygon(40% 0%, 40% 0%, 40% 100%, 40% 100%);
}

.mask:nth-child(10) {
    clip-path: polygon(45% 0%, 45% 0%, 45% 100%, 45% 100%);
}

.mask:nth-child(11) {
    clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
}

.mask:nth-child(12) {
    clip-path: polygon(55% 0%, 55% 0%, 55% 100%, 55% 100%);
}

.mask:nth-child(13) {
    clip-path: polygon(60% 0%, 60% 0%, 60% 100%, 60% 100%);
}

.mask:nth-child(14) {
    clip-path: polygon(65% 0%, 65% 0%, 65% 100%, 65% 100%);
}

.mask:nth-child(15) {
    clip-path: polygon(70% 0%, 70% 0%, 70% 100%, 70% 100%);
}

.mask:nth-child(16) {
    clip-path: polygon(75% 0%, 75% 0%, 75% 100%, 75% 100%);
}

.mask:nth-child(17) {
    clip-path: polygon(80% 0%, 80% 0%, 80% 100%, 80% 100%);
}

.mask:nth-child(18) {
    clip-path: polygon(85% 0%, 85% 0%, 85% 100%, 85% 100%);
}

.mask:nth-child(19) {
    clip-path: polygon(90% 0%, 90% 0%, 90% 100%, 90% 100%);
}

.mask:nth-child(20) {
    clip-path: polygon(95% 0%, 95% 0%, 95% 100%, 95% 100%);
}

.maskP1{
    position: absolute;
    width: 51vw;
    height: 28.95vh;
    background: url(assets/images/image2.webp);
    background-size: cover;    
}

.project-a-tag{
    display: inline-flex;
}

.maskP2{
    position: absolute;
    width: 51vw;
    height: 28.95vh;
    background: url(assets/images/james-hardman-09sXF-mS8fc-unsplash.jpg);
    background-size: cover;    
}

.maskP3{
    position: absolute;
    width: 51vw;
    height: 28.95vh;
    background: url(assets/images/jr-korpa-9XngoIpxcEo-unsplash.jpg);
    background-size: cover;    
}

.maskP4{
    position: absolute;
    width: 51vw;
    height: 28.95vh;
    background: url(assets/images/pawel-czerwinski-6lQDFGOB1iw-unsplash.jpg);
    background-size: cover;    
}

.maskP5{
    position: absolute;
    width: 51vw;
    height: 28.95vh;
    background: url(assets/images/pawel-czerwinski-ruJm3dBXCqw-unsplash.jpg);
    background-size: cover;    
}
}
@media screen and (max-width: 1373px) {
        .hero-img{
            position: fixed;
            margin-left: 2.54117647vw;
            top: 23.8059136vh;
            width: 95.2941176vw;
            height: 31.1940864vh;
            display: flex;
        }
        
        .mask{
            position: absolute;
            width: 95.2941176vw;
            height: 31.1940864vh;
            background: url(assets/images/image.avif);
            background-size: cover;
        }
        
        .mask:nth-child(1){
            clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
        }
        
        .mask:nth-child(2) {
            clip-path: polygon(5% 0, 5% 0, 5% 100%, 5% 100%);
        }
        
        .mask:nth-child(3) {
            clip-path: polygon(10% 0%, 10% 0%, 10% 100%, 10% 100%);
        }
        
        .mask:nth-child(4) {
            clip-path: polygon(15% 0%, 15% 0%, 15% 100%, 15% 100%);
        }
            
        .mask:nth-child(5) {
            clip-path: polygon(20% 0%, 20% 0%, 20% 100%, 20% 100%);
        }
        
        .mask:nth-child(6) {
            clip-path: polygon(25% 0%, 25% 0%, 25% 100%, 25% 100%);
        }
            
        .mask:nth-child(7) {
            clip-path: polygon(30% 0%, 30% 0%, 30% 100%, 30% 100%);
        }
        
        .mask:nth-child(8) {
            clip-path: polygon(35% 0%, 35% 0%, 35% 100%, 35% 100%);
        }
        
        .mask:nth-child(9) {
            clip-path: polygon(40% 0%, 40% 0%, 40% 100%, 40% 100%);
        }
        
        .mask:nth-child(10) {
            clip-path: polygon(45% 0%, 45% 0%, 45% 100%, 45% 100%);
        }
        
        .mask:nth-child(11) {
            clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
        }
        
        .mask:nth-child(12) {
            clip-path: polygon(55% 0%, 55% 0%, 55% 100%, 55% 100%);
        }
        
        .mask:nth-child(13) {
            clip-path: polygon(60% 0%, 60% 0%, 60% 100%, 60% 100%);
        }
        
        .mask:nth-child(14) {
            clip-path: polygon(65% 0%, 65% 0%, 65% 100%, 65% 100%);
        }
        
        .mask:nth-child(15) {
            clip-path: polygon(70% 0%, 70% 0%, 70% 100%, 70% 100%);
        }
        
        .mask:nth-child(16) {
            clip-path: polygon(75% 0%, 75% 0%, 75% 100%, 75% 100%);
        }
        
        .mask:nth-child(17) {
            clip-path: polygon(80% 0%, 80% 0%, 80% 100%, 80% 100%);
        }
        
        .mask:nth-child(18) {
            clip-path: polygon(85% 0%, 85% 0%, 85% 100%, 85% 100%);
        }
        
        .mask:nth-child(19) {
            clip-path: polygon(90% 0%, 90% 0%, 90% 100%, 90% 100%);
        }
        
        .mask:nth-child(20) {
            clip-path: polygon(95% 0%, 95% 0%, 95% 100%, 95% 100%);
        }
        
        .maskP1{
            position: absolute;
            width: 94.9090909vw;
            height: 28.95vh;
            background: url(assets/images/image2.webp);
            background-size: cover;    
        }
        
        .project-a-tag{
            display: inline-flex;
        }
        
        .maskP2{
            position: absolute;
            width: 94.9090909vw;
            height: 28.95vh;
            background: url(assets/images/james-hardman-09sXF-mS8fc-unsplash.jpg);
            background-size: cover;    
        }
        
        .maskP3{
            position: absolute;
            width: 51vw;
            height: 28.95vh;
            background: url(assets/images/jr-korpa-9XngoIpxcEo-unsplash.jpg);
            background-size: cover;    
        }
        
        .maskP4{
            position: absolute;
            width: 51vw;
            height: 28.95vh;
            background: url(assets/images/pawel-czerwinski-6lQDFGOB1iw-unsplash.jpg);
            background-size: cover;    
        }
        
        .maskP5{
            position: absolute;
            width: 51vw;
            height: 28.95vh;
            background: url(assets/images/pawel-czerwinski-ruJm3dBXCqw-unsplash.jpg);
            background-size: cover;    
        }
}